<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SequenceNodeColor" value="ff33658a"></add>
		<add key="SequenceTextColor" value ="ffcc9a75"/>
		<add key="DecisionNodeColor" value="fff6ae2d"></add>
		<add key="DecisionTextColor" value="ff0951d2"></add>
		<add key="TerminatorNodeColor" value="fff26419"></add>
		<add key="ProcessNodeColor" value="ff86bbd8"></add>
	</appSettings>
</configuration>