<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SequenceNodeColor" value="ff33658a"/>
		<add key="SequenceTextColor" value ="ffFEFF00"/>
		<add key="DecisionNodeColor" value="fff6ae2d"/>
		<add key="DecisionTextColor" value="ff0800FF"/>
		<add key="TerminatorNodeColor" value="fff26419"/>
		<add key="TerminatorTextColor" value="ffFDFF93"/>
		<add key="ProcessNodeColor" value="ff86bbd8"/>
		<add key="ProcessTextColor" value="ff0400FF"/>
		<add key="KeywordYes" value="Ja"/>
		<add key="KeywordNo" value="Nein"/>
	</appSettings>
</configuration>